#tweet {
  width: 100%;
  height: 8rem;
  background-color: rgba(255, 255, 255, 0.4);
  color: #ffffff;
}
.comp {
  -webkit-transition: 0.2s all ease-in 0s;
  -o-transition: 0.2s all ease-in 0s;
  transition: 0.2s all ease-in 0s;
}
.comp > h1 {
  color: #ffffff;
  padding-left: 1rem;
}
.comp > form > textarea {
  border: 2px groove #3700b3;
}
#tweet {
  padding: 0 4px;
}
.count {
  margin-top: 5px;
}
.comp > form > textarea:focus {
  border: 4px solid #3700b3;
}

.comp {
  border: 1px inset rgb(0, 0, 0);
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.7);
}
.comp > h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.redColor {
  color: #b00020;
  font: bold;
}

.count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
}
