body {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
  font-family: "Nanum Gothic", sans-serif;
  background-image: url("../images/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
:focus {
  border: unset;
  outline: none;
}
main {
  margin-top: 4.4rem;
}
button {
  -webkit-transition: 0.2s all ease 0s;
  -o-transition: 0.2s all ease 0s;
  transition: 0.2s all ease 0s;
}
::-moz-selection {
  background: #018786;
  color: #ffffff;
}
::selection {
  background: #018786;
  color: #ffffff;
}
.root {
  padding-top: 1rem;
  padding-left: 25vw;
  padding-right: 25vw;
  -webkit-transition: 0.4s all ease-out 0s;
  -o-transition: 0.4s all ease-out 0s;
  transition: 0.4s all ease-out 0s;
}
.comp {
  margin-left: 25vw;
  margin-right: 25vw;
}
@media all and (max-width: 1200px) {
  body {
    background-image: none;
    background: #232526; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #414345,
      #232526
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#414345),
      to(#232526)
    );
    background: -webkit-linear-gradient(left, #414345, #232526);
    background: -o-linear-gradient(left, #414345, #232526);
    background: linear-gradient(
      to right,
      #414345,
      #232526
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .root {
    padding-left: 20vw;
    padding-right: 20vw;
  }
  .comp {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}
@media all and (max-width: 650px) {
  .root {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  .comp {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}
@media all and (max-width: 500px) {
  .root {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .comp {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
.btn {
  border-radius: 5px;
  border: 2px solid rgb(122, 122, 122);
  background-color: rgba(255, 255, 255, 0.85);
  color: rgb(122, 122, 122);
  padding: 10px 20px;
  font-size: 15px;
  -webkit-transition: color 0.5s ease-in 0s, border-color 0.5s ease-in 0s,
    background-color 0.5s ease-in 0s;
  -o-transition: color 0.5s ease-in 0s, border-color 0.5s ease-in 0s,
    background-color 0.5s ease-in 0s;
  transition: color 0.5s ease-in 0s, border-color 0.5s ease-in 0s,
    background-color 0.5s ease-in 0s;
  font-family: "Arvo", serif;
}

.btn:hover {
  color: #6200ee;
  border-color: #6200ee;
  background-color: rgba(212, 179, 179, 0.966);
}

@media all and (max-width: 800px) {
  .btn {
    padding: 5px 10px;
    font-size: 8px;
  }
}
