body {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
  font-family: "Nanum Gothic", sans-serif;
  background-image: url("../images/bg2.jpg");
  background-size: cover;
}
button {
  transition: 0.2s all ease 0s;
}
::selection {
  background: #018786;
  color: #ffffff;
}
.root {
  padding-top: 10vh;
  padding-left: 25vw;
  padding-right: 25vw;
}
.btn {
  border-radius: 5px;
  border: 2px solid rgb(122, 122, 122);
  background-color: rgba(255, 255, 255, 0.85);
  color: rgb(122, 122, 122);
  padding: 10px 20px;
  font-size: 10px;
  transition: color 0.5s ease-in 0s, border-color 0.5s ease-in 0s,
    background-color 0.5s ease-in 0s;
  font-family: "Arvo", serif;
}

.btn:hover {
  color: #6200ee;
  border-color: #6200ee;
  background-color: rgba(212, 179, 179, 0.966);
}
