.nav-top {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #3700b3;
  height: 8vh;
}

.nav-top > div > .compose:hover {
  color: #03dac6;
  cursor: pointer;
}
.nav-top div .logo {
  padding-left: 5rem;
  float: left;
}
.nav-top div:nth-child(2),
.nav-top div:nth-child(3) {
  margin-top: 1rem;
}
.nav-top div:last-child {
  padding-right: 5rem;
}
.nav-top > div {
  height: 100%;
  width: 100%;
}
.nav-top > div > div {
  display: inline-block;
  height: 100%;
}
.nav-top > div > div > .cont {
  padding-bottom: 1rem;
}
.nav-top .compose {
  float: right;
  transition: 0.2s all ease-in 0s;
}
@media all and (max-width: 600px) {
  i {
    font-size: 2rem;
  }
  .nav-top {
    font-size: 1.7rem;
  }
  .nav-top > div > div > .cont {
    padding-bottom: 0;
  }
  .nav-top > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-top > div > div > .header,
  .nav-top > div > div > .cont {
    margin-right: 2rem;
  }
  .nav-top div:nth-child(2),
  .nav-top div:nth-child(3) {
    margin-top: 0;
    align-self: auto;
  }
  .nav-top > div > div {
    display: contents;
    height: auto;
  }
  .nav-top .compose {
    float: none;
  }
  .nav-top > div > .compose {
    margin-left: 1rem;
  }
}
