.nav-top {
  margin: 0;
  width: calc(100vw);
  background-color: #3700b3;
  height: 8vh;
  z-index: 10;
  position: fixed;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  top: 0;
}

.spacer:before {
  content: "";
}

.spacer {
  width: 10vw;
}
.spacer:after {
  content: "";
}

.header {
  position: relative;
  top: -1rem;
}

.nav-top > .compose:hover {
  color: #03dac6;
  cursor: pointer;
}

@media all and (max-width: 800px) {
  .nav-top > i {
    font-size: 2rem;
  }
  .nav-top > div > .cont {
    padding-bottom: 0;
  }
  .nav-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .nav-top > div > .header {
    margin: 0;
  }
  .nav-top > div {
    display: contents;
  }
  .nav-top .compose {
    float: none;
  }
  .header {
    top: unset;
  }
}
